@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 ">Welcome to the BOOK Store</h1>
    <marquee>
    <a><img src="~/wp2036897.jpg" alt="" width="600" height="500"></a>
    </marquee>
</div>
